Repository pyadorn/adorn: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

poetry update
  poetry.lock
Due: none

stop logging by default
  src/adorn/params.py
Due: black, flake8

stop logging by default (#258)
  src/adorn/params.py
Due: black, flake8

bump version
  pyproject.toml
Due: check-toml

bump version (#259)
  pyproject.toml
Due: check-toml

re-trigger cicd
  pyproject.toml
Due: check-toml

re-trigger cicd (#260)
  pyproject.toml
Due: check-toml

log as info
  pyproject.toml
  src/adorn/unit/complex.py
Due: black, check-toml, flake8

log as info (#261)
  pyproject.toml
  src/adorn/unit/complex.py
Due: black, check-toml, flake8

log history via debug by default
  src/adorn/params.py
Due: black, flake8

log history via debug by default (#262)
  src/adorn/params.py
Due: black, flake8

bump version (#263)
  pyproject.toml
Due: check-toml

Update conf.py
  docs/conf.py
Due: black, flake8

Update release.yml
  .github/workflows/release.yml
Due: check-yaml

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
